html {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 100px 200px;
}
.grid-item {
    padding: 0 20px 20px 20px;
    font-size: 30px;
    text-align: center;
}
.logo-img {
    margin-top: 10%;
}
.pos-text {
    font-weight: 600;
}

/* Form */
#login-grid {
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    margin-left: 15%;
}
.login-text {
    font-size: 35px;
    font-weight: bold;
}
.login-container {
    display: grid;
    grid-template-rows: auto auto;
    align-content: center;
}
.login-form {
    font-size: 14px;
    text-align: center;
    align-content: center;
    padding: 0 20px;
}
.form {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.form input {
    width: auto; 
    font-size: 16px;
    margin-bottom: 20px; 
    padding: 10px 15px;
    border: 1px solid #505050;
    border-radius: 10px;
    outline: none;
    cursor: text;
}
.loginbtn {
    font-weight: 700;
    width: 150px;
    padding: 15px 20px;
    margin: 30px 0;
    border-radius: 10px;
    color: #fff;
    background-color: #1A120B;
}
.loginbtn:hover {
    background-color: #fff;
    color: #1A120B;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Navigation bar */
.navbar {
    margin: 0;
    padding: 10px 0;
    background-color: #262626;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0 5px;
    display: flex;
    align-items: center;
}
.navbar li {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}
.navbar img {
    width: 100px;
}
.navbar i {
    font-size: 18px;
    margin-right: 8px;
    vertical-align: middle;
}
.navbar-date-time {
    color: #fff;
    font-size: 14px;
    text-align: center;
    flex-grow: 1; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    line-height: 1.5; 
}
#currentDate, #currentTime {
    margin: 0; 
    padding: 0; 
}

/* Profile Picture Dropdown */
.pfp-dropdown {
    position: relative;
    display: inline-block;
}
.pfp-dropdown .dropdown-toggle {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    padding: 10px;
    cursor: pointer;
}
.pfp-dropdown .pfp-menu {
    display: none;
    position: absolute;
    margin-right: 20px;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 999;
    width: 100px;
    border-radius: 5px;
}
.pfp-dropdown:hover .pfp-menu {
    display: block;
}
.pfp-dropdown .pfp-menu li {
    padding: 10px;
    display: block;
    width: 100%; 
}
.pfp-dropdown .pfp-menu li a {
    color: #444;
    text-decoration: none;
    display: block;
    font-size: 14px;
}
.pfp-dropdown .pfp-menu li a:hover {
    color: #444;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 80px;
}

/* Sidebar */
.sidebar-container {
    display: grid;
    grid-template-columns: 18% auto;
    margin-top: 60px;
}
.dashboard-grid {
    box-shadow: 5px 0px  15px rgba(0, 0, 0, 0.2);
    color: #262626;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    padding-left: 20px;
}
.dashboard-grid p {
    padding-top: 20px;
}
.dashboard-grid ul {
    list-style: none;
}
.dashboard-grid li {
    padding: 10px 0;
    color: #262626;
    font-size: 16px;
}
.dashboard-grid a {
    color: #505050; 
    text-decoration: none;
}
.dashboard-grid a:hover {
    color: #1A120B;
    font-weight: 600;
}
.dashboard-grid i {
    font-size: 20px;
    margin-right: 8px;
    vertical-align: middle;
}
.sb-footer {
    font-size: 14px;
    font-weight: 300;
    color: red;
    margin-top: 198px;
}
.un-footer {
    margin-top: -30px;
    margin-bottom: 30px;
}

/* Dropdown Menu */
.dropdown-menu {
    list-style: none;
    margin: 0 0 0 50px;
    padding: 0;
    display: none; 
    position: absolute;
    background-color: #f9f9f9; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1000;
}
.dashboard-grid li:hover .dropdown-menu {
    display: block;
}
.dropdown-menu li {
    padding: 10px 20px;
    font-size: 14px;
}
.dropdown-menu a {
    color: #505050;
    text-decoration: none;
    display: block;
}
.dropdown-menu a:hover {
    color: #1A120B;
    font-weight: 600;
    border-radius: 2px;
}

/* Contents on the right side of the sidebar */
.db-content {
    display: grid;
    grid-template-columns: auto;
  }
.db-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    margin: 0 20px;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}
.heading {
    font-size: 28px;
    font-weight: 600;
}
.sub-heading {
    font-size: 24px;
    font-weight: 600;
}
#content-grid {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 20px;
    padding: 0;
}
.prod-container {
    width: 100%;
}
.prod-container p {
    margin: 0;
    padding: 5px 20px 5px 18px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0 0;
}
.prod-container hr {
    width: 100%;
    padding: 0;
    margin: 0;
}
.prod-form {
    display: grid;
    align-items: center;
    padding: 10px 20px;
}
.prod-form label {
    font-size: 16px;
    margin-top: 15px;
    padding: 0;
    color: #505050;
}
.prod-form input {
    font-size: 14px;    
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    outline: none;
    cursor: text;
    justify-content: start;
}
.savebtn {
    display: block;
    margin: 20px auto; 
    padding: 10px 20px;
    background-color: blue; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.savebtn:hover {
    background-color: #262626;
}
.profiletbl {
    margin: 20px;
}

/* Main POS */
/*Left side*/
.pos-grid table {
    border-collapse: collapse;
    width: 100%;
}
.pos-grid td, th {
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-align: left;
    padding: 0 8px;
    font-weight: 500;
}
.pos-grid th {
    background-color: rgba(0, 0, 0, 0.3);
}


/* Buttons */
.pos-container {
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 60px;
}
.pos-grid {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px 5px;
    text-align: center;
}
#right-grid {
    padding: 0;
}
.menu-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.menu-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 5px;
    text-align: center;
}
.menu-item button {
    font-size: 16px;
    background-color: #cae3ec;
    width: 150px;
    height: 100px;
    margin: 0;
}
.menu-item button:hover, .add-ons .menu-item button:hover, .primarybtns .menu-item button:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.add-ons .menu-item button {
    background-color: #0ba1dd;
}

